[submodule "extern/cppcoro"]
	path = extern/cppcoro
	url = https://github.com/andreasbuhr/cppcoro.git
#	url = https://github.com/lewissbaker/cppcoro.git
#[submodule "extern/range-v3"]
#	path = extern/range-v3
#	url = https://github.com/ericniebler/range-v3.git
[submodule "extern/ygg"]
	path = extern/ygg
	url = https://github.com/tinloaf/ygg.git
